@model CreateLeadDto

<link href="~/css/LeadController/CreateLead.css" rel="stylesheet" asp-append-version="true" />

<div class="page-content p-3 p-md-4">

    <!-- HEADER -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="fw-bold m-0">Add Leads</h5>

        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary active" id="manualBtn">
                Manual Entry
            </button>
            <button type="button" class="btn btn-outline-primary" id="importBtn">
                Import CSV
            </button>
        </div>
    </div>

    <!-- 🔹 MANUAL FORM -->
    <div id="manualForm">

        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success auto-hide-alert">
                @TempData["Success"]
            </div>
        }

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger auto-hide-alert">
                @ViewBag.Error
            </div>
        }
   
        @Html.ValidationSummary(true, "", new { @class = "text-danger mb-2" })

        <form asp-action="CreateLead" asp-controller="Lead" method="post">

            <div class="row g-2">

                <!-- Name -->
                <div class="col-12 col-md-6">
                    <label class="form-label custom-label">Customer Name</label>
                    <input asp-for="CustomerName" class="form-control form-control-sm input-modern" placeholder="Enter name" />
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>

                <!-- Phone -->
                <div class="col-12 col-md-6">
                    <label class="form-label custom-label">Phone</label>
                    <input asp-for="Phone" class="form-control form-control-sm input-modern" placeholder="10 digit number" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <!-- Email -->
                <div class="col-12 col-md-6">
                    <label class="form-label custom-label">Email</label>
                    <input asp-for="Email" class="form-control form-control-sm input-modern" placeholder="Emter Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <!-- State -->
                <div class="col-12 col-md-6">
                    <label class="form-label custom-label">State</label>
                    <select id="stateDropdown" asp-for="StateId" class="form-select input-modern">
                        <option value="">Select State</option>
                        @foreach (var state in ViewBag.States)
                        {
                            <option value="@state.StateId">@state.StateName</option>
                        }
                    </select>
                    <span asp-validation-for="StateId" class="text-danger"></span>
                </div>

                <!-- City -->
                <div class="col-12 col-md-6">
                    <label class="form-label custom-label">City</label>
                    <select id="cityDropdown" asp-for="CityId" class="form-select  input-modern" disabled>
                        <option value="">Select City</option>
                    </select>
                    <span asp-validation-for="CityId" class="text-danger"></span>
                </div>

                <!-- Project -->
                <div class="col-12 col-md-6">
                    <label class="form-label custom-label">Project</label>
                    <select asp-for="ProjectId" class="form-select input-modern">
                        <option value="">Select Project</option>
                        @foreach (var project in ViewBag.Projects)
                        {
                            <option value="@project.ProjectId">
                                @project.ProjectName (@project.Location)
                            </option>
                        }
                    </select>
                    <span asp-validation-for="ProjectId" class="text-danger"></span>
                </div>

                <!-- Source -->
                <div class="col-12 col-md-6">
                    <label class="form-label custom-label">Lead Source</label>
                    <select asp-for="LeadSourceId" class="form-select  input-modern">
                        <option value="">Select Source</option>
                        @foreach (var source in ViewBag.Sources)
                        {
                            <option value="@source.LeadSourceId">@source.SourceName</option>
                        }
                    </select>
                    <span asp-validation-for="LeadSourceId" class="text-danger"></span>
                </div>


                <!-- LeadStatus -->
                <div class="col-12 col-md-6">
                    <label class="form-label custom-label">Lead Status</label>
                    <select asp-for="LeadStatusId" class="form-select  input-modern">
                        <option value="">Select Status</option>
                        @foreach (var source in ViewBag.LeadStatus)
                        {
                            <option value="@source.LeadStatusId">@source.StatusName</option>
                        }
                    </select>
                    <span asp-validation-for="LeadStatusId" class="text-danger"></span>
                </div>

            </div>

            <!-- Button -->
            <div class="mt-3">
                <button id="submitBtn" class="btn btn-primary px-3">
                    Save Lead
                </button>
            </div>

        </form>
    </div>

    <!-- 🔹 IMPORT SECTION -->
    <div id="importSection" class="d-none">

        <div class="import-wrapper">

            <!-- ICON + TEXT -->
            <div class="import-content text-center">

                <div class="upload-icon mb-2">📂</div>

                <h6 class="fw-semibold mb-1">Import Leads</h6>
                <p class="small mb-3 " style="color:white;">
                    Drag & drop CSV / Excel file or click to upload
                </p>

                <!-- Hidden file input -->
                <input type="file" id="fileInput" hidden />

                <!-- Upload button -->
                <button type="button" class="btn btn-outline-light btn-sm mb-3" onclick="document.getElementById('fileInput').click()">
                    Choose File
                </button>

                <div id="fileName" class="small text-success mb-2"></div>

                <!-- Action -->
                <button class="btn btn-success px-4">
                    Upload & Import
                </button>

                <!-- Template -->
                <div class="mt-3">
                    <a href="/Lead/DownloadTemplate" class="small text-info">
                        ⬇ Download CSV Template
                    </a>
                </div>

            </div>

        </div>

    </div>

</div>

<script>
    const manualBtn = document.getElementById("manualBtn");
    const importBtn = document.getElementById("importBtn");

    const manualForm = document.getElementById("manualForm");
    const importSection = document.getElementById("importSection");

    manualBtn.onclick = () => {
        manualForm.classList.remove("d-none");
        importSection.classList.add("d-none");

        manualBtn.classList.add("active");
        importBtn.classList.remove("active");
    };

    importBtn.onclick = () => {
        manualForm.classList.add("d-none");
        importSection.classList.remove("d-none");

        importBtn.classList.add("active");
        manualBtn.classList.remove("active");
    };

     const fileInput = document.getElementById("fileInput");
    const fileName = document.getElementById("fileName");

    fileInput.addEventListener("change", function () {
        if (this.files.length > 0) {
            fileName.innerText = "Selected: " + this.files[0].name;
        }
    });
    document.getElementById("stateDropdown").addEventListener("change", function () {

        const stateId = this.value;
        const cityDropdown = document.getElementById("cityDropdown");

        cityDropdown.innerHTML = "<option>Loading...</option>";
        cityDropdown.disabled = true;

        if (!stateId) {
            cityDropdown.innerHTML = "<option>Select City</option>";
            return;
        }

        fetch(`/Lead/GetCities?stateId=${stateId}`)
            .then(res => res.json())
            .then(data => {

                cityDropdown.innerHTML = "<option>Select City</option>";

                data.forEach(city => {
                    cityDropdown.innerHTML += `<option value="${city.cityId}">${city.cityName}</option>`;
                });

                cityDropdown.disabled = false;
            });
    });
        const form = document.querySelector("form");
    const btn = document.getElementById("submitBtn");

    form.addEventListener("submit", function () {
        btn.disabled = true;
        btn.innerText = "Saving...";
    });
        document.addEventListener("DOMContentLoaded", function () {
        const stateDropdown = document.getElementById("stateDropdown");

        if (stateDropdown.value) {
            stateDropdown.dispatchEvent(new Event("change"));
        }
    });
    const success = '@TempData["Success"]';

    if (success) {
        console.log("Lead created"); // optional
    }
     setTimeout(() => {
        document.querySelectorAll(".auto-hide-alert").forEach(alertBox => {

            alertBox.style.transition = "all 0.5s ease";
            alertBox.style.opacity = "0";
            alertBox.style.transform = "translateY(-10px)";

            setTimeout(() => {
                alertBox.remove();
            }, 500);
        });
    }, 2000); // 2 sec
</script>


<partial name="_ValidationScriptsPartial" />